$primary: hsl(171, 100%, 41%);
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$green-link: #00d1b2;
#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f7f7f7;
  .login-card {
    background: #fff;
    width: 24rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
    .card-title {
      background-color: darken($primary, 5%);
      padding: 1.7rem;
      h1 {
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
      }
    }
    .login-content {
      padding: 2rem 3rem 1.5rem;
    }
    .roles,
    .fname,
    .mname,
    .lname,
    .email,
    .password {
      display: block;
      width: 100%;
      font-size: 1rem;
      margin-bottom: 1.7rem;
      padding: 0.2rem 0;
      border: none;
      border-bottom: 1px solid $grey-lighter;
      transition: all 0.5s;
      &:hover {
        border-color: $grey;
      }
      &:active,
      &:focus {
        border-color: $primary;
      }
    }
    a {
      color: $green-link;
      transition: color 0.5s, border-color 0.5s;
      &:hover {
        color: darken($green-link, 10%);
      }
    }
    .options {
      text-align: center;
      color: $grey-light;
      margin-top: 1.5rem;
    }
    button {
      cursor: pointer;
      font-size: 1.2rem;
      color: $primary;
      border-radius: 4rem;
      display: block;
      width: 100%;
      background: transparent;
      border: 2px solid $primary;
      padding: 0.9rem 0 1.1rem;
      transition: color 0.5s, border-color 0.5s;
      &:hover,
      &:focus {
        color: darken($primary, 10%);
        border-color: darken($primary, 10%);
      }
      &:active {
        transform: translateY(1px);
      }
    }
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
