#root {
  min-height: 100vh;
}

body {
  background-color: #f7f7f7;
}
@import "./login.scss";
@import "./loginError.scss";
@import "./navbar.scss";
@import "./notFound.scss";
@import "./profile";
@import "./home";
@import "./newPost";
@import "bulma/bulma.sass";
